# API Keys
GITHUB_TOKEN="your-github-token-here"
GEMINI_API_KEY="your-gemini-api-key-here"
CEREBRAS_API_KEY="your-cerebras-api-key-here"
OPENROUTER_API_KEY="your-openrouter-api-key-here"

# MongoDB
MONGODB_URL="your-mongodb-string-here"
MONGODB_DB_NAME="your-database-name-here"
retryWrites=true&w=majority
# Server
API_BASE_URL=http://localhost:8000
VITE_API_BASE_URL=http://localhost:8080